@import 'config';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

%flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

body {
	min-height: 100vh;
	@extend %flex-center;
	flex-direction: column;
	font-family: $font-body;
	background: $clr-bg;
	color: $clr-white;
	padding: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-headings;
}

// Stats Card
.stats {
	@extend %flex-center;
	flex-direction: column;
	max-width: $max-width;
	background: $clr-card;
	border-radius: 5px;

	&-img {
		display: block;
		max-width: 100%;
		width: 100%;
		height: 240px;
		background: url('../images/image-header-mobile.jpg') $clr-accent;
		background-repeat: no-repeat;
		background-size: cover;
		background-blend-mode: multiply;
	}
}

// Media queries go at the end
@import 'media';
