@import 'config';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

%flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

body {
	min-height: 100vh;
	@extend %flex-center;
	flex-direction: column;
	font-family: $font-body;
	background: $clr-bg;
	color: $clr-white;
	padding: 5rem 1.5rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-headings;
}

.text-highlight {
	color: $clr-accent;
}

// Stats Card
.stats {
	display: grid;
	grid-template-columns: 1fr;
	max-width: $max-width-mobile;
	background: $clr-card;
	border-radius: 5px;

	&-img {
		display: block;
		width: 100%;
		min-height: 240px;
		background-image: url('../images/image-header-mobile.jpg');
		background-color: $clr-accent;
		background-repeat: no-repeat;
		background-size: cover;
		background-blend-mode: multiply;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	// Content Area
	&-content {
		text-align: center;
		padding: 2.5rem 2rem;
	}

	&-heading {
		line-height: 1.2;
		font-size: 1.7rem;
		margin-bottom: 1rem;
	}

	&-desc {
		font-size: 0.9rem;
		color: $clr-white-75;
		line-height: 1.7;
		margin-bottom: 2.5rem;
	}

	// Numeric Details
	&-details {
		@extend %flex-center;
		flex-direction: column;
		gap: 1.5rem;
	}

	&-num {
		font-size: 1.5rem;
	}

	&-type {
		color: $clr-white-60;
		text-transform: uppercase;
		font-size: 0.75rem;
		letter-spacing: 1px;
		margin-top: 0.2rem;
	}
}

// Media queries go at the end
@import 'media';
